$base: #101419;
$mantle: #151720;
$crust: #1c1e27;

$text: #a5b6c4;
$surface0: #313244;
$subtext0: #d0d3d8;
$subtext1: #d0d3d8;

$blue: #86aaec;
$green: #95d3af;
$yellow: #f1d8a5;
$mauve: #c79bf0;
$red: #e26c7c;
$peach: #fab387;
$pink: #c79bf0;
$sky: #86aaec;

$transparent: #FF0000;
